{% extends 'store/base.html' %}
{% load static %}
{% load cart_tags %}
{% block title %}
    <title>{{ product.name }}</title>
{% endblock %}
{% block content %}
    <section >
    <h1>Your Shopping Cart</h1>
    <div class="cart-items">
        {% for item in order_items %}
            <div class="cart-item" >
                <h2>{{ item.product.name }}</h2>
                <img src="{{item.product.image.url}}" alt="{{item.product.name}}" width="150">
                <p>{{ item.product.description }}</p>
                <p>Quantity: {{ item.quantity }}</p>
                <p>Price: ${{ item.product.price }}</p>
                <p class="product-price">Total: ${{ item.product.price|multiply:item.quantity }}</p>
                <a href="{% url 'remove_from_cart' item.id %}">Remove</a>
                <div class="product-add-subtract">
                    <button onclick="">+</button>
                    <button>-</button>
                </div>
            </div>
        {% endfor %}
    </div>
    <div>
        <h2>Total: ${{ cart_items|sum_total }}</h2>
        <a href="{% url 'checkout' %}">Checkout</a>
    </div>
    </section>
{% endblock %}

